[general]
live_config_reload = true

[env]
TERM = "xterm-256color"

[font]
size = 9.0
normal = { family = "JetBrainsMonoNerdFontMono", style = "Regular" }

[font.offset]
x = 0
y = 1

[scrolling]
history = 5000

[window]
dynamic_padding = false
opacity = 1.0
title = "Alacritty"

[window.class]
general = "Alacritty"
instance = "Alacritty"  

[window.padding]
x = 6
y = 6

[mouse]
hide_when_typing = true

[selection]
save_to_clipboard = true
